/*header start*/
body {
    font-family: 'quicksand';
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

header {
background-color: #F8FBF4;
padding: 1rem 2%;
}
header h1 {
    margin: 0;
    color: #667b68;
}

header p {
    margin: 0;
    color: #667b68;
    letter-spacing: 2.37px;
}

/*Navigation Starts Here*/
nav {
    background-color: #abc4ab;
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    font-weight: 700;
    display: block;
    padding: .85rem;
}

nav li.active a {
    background-color:#667b68;
}
nav a:hover {
color: black;
}
/*Main Starts Here*/

main {
    padding: 1rem 2vw;
}
main h1 {
    color: #667b68;
}
main p {
    margin: 0 0 .2rem 0;
}
main ol {
    padding: .5rem 3vw;
    background-color: #efefef;
    width: 12rem;
    border-radius: .5rem;
}
main dl dt {
    font-weight: 700;
    font-size: 1rem;
    padding: .5rem 0;
}
main ul {
    list-style-type: circle;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
}
main address {
    font-style: normal;
    background-color: #efefef;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #667b68;
    border-radius: .5rem;
}
main a {
    color: #667b68;
}
main a:hover {
    color: #abc4ab;
}

/* Footer Starts Here*/
footer {
background-color: #F8FBF4;
text-align: center;
color: #667b68;
padding: .75rem 0;
font-size: .9rem;
}
footer a {
    color: #667b68;
}
